<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>这个是家长端的入口</title>
</head>
<body>
<h2>请选择您的班级</h2>
<select >
<option>----请选择您的班级----</option>
<option value="710">七年级十班</option>
<option value="711">七年级十一班</option>
<option value="712">七年级十二班</option>
<option value="713">七年级十三班</option>
<option value="714">七年级十四班</option>
<option value="715">七年级十五班</option>
<option value="716" select="selected">七年级十六班</option>
<option value="717">七年级十七班</option>
</select>
<h2>请选择您孩子的名字</h2>
<select >
<option>----请选择您孩子姓名----</option>
<option value="smt">孙睦添</option>
<option>孙睦添1</option>
<option>孙睦添2</option>
<option>孙睦添3</option>
</select>
<p>
<button style="width:200px; height:80px;">登录进入系统</button>
<p></p>
<div style="margin:0px auto; width:80%;height:20px; color:red;font-weight:bold;">
作者网站：<a href="http://www.dbzy.net" target="_blank">smt-c(http://www.dbzy.net)</a>
</div>
</body>

</html>